Django
django_extensions
django-ninja
requests
regex
gunicorn
pyvestaboard @ git+ssh://git@github.com/pyvestaboard/pyvestaboard.git/
#pyvestaboard @ git+ssh://git@github.com/pyvestaboard/pyvestaboard.git@bugfixes
#pyvestaboard @ /Users/tjohnson/Programatica/Vestaboard/pyvestaboard