{% extends "base.html" %}

{% block content %}
  <div class="main-wrap">
    <div id="vestaboard" hx-get="/htmx/message" hx-trigger="load delay:1s">
      <div class="vestaboard-row">
        {% for i in '     be creative      '|make_list %}
        <div class="flipper">{{ i }}</div>
        {% endfor %}
      </div>
      <div class="vestaboard-row">
        {% for i in '   live a fun life    '|make_list %}
        <div class="flipper">{{ i }}</div>
        {% endfor %}
      </div>
      <div class="vestaboard-row">
        {% for i in ' don\'t be an asshole  '|make_list %}
        <div class="flipper">{{ i }}</div>
        {% endfor %}
      </div>
      <div class="vestaboard-row">
        {% for i in 'abcdefghijklmnopqrstuv'|make_list %}
        <div class="flipper">{{ i }}</div>
        {% endfor %}
      </div>
      <div class="vestaboard-row">
        {% for i in 'wxyz 0123456789 !@#$()'|make_list %}
        <div class="flipper">{{ i }}</div>
        {% endfor %}
      </div>
      <div class="vestaboard-row">
        {% for i in '-+&=;:\'"%,./?° '|make_list %}
        <div class="flipper">{{ i }}</div>
        {% endfor %}
        <div class="flipper"><div class="colored-tile red"></div></div>
        <div class="flipper"><div class="colored-tile orange"></div></div>
        <div class="flipper"><div class="colored-tile yellow"></div></div>
        <div class="flipper"><div class="colored-tile green"></div></div>
        <div class="flipper"><div class="colored-tile blue"></div></div>
        <div class="flipper"><div class="colored-tile violet"></div></div>
        <div class="flipper"><div class="colored-tile white"></div></div>
      </div>
      <div class="vestaboard-label">VestaBoard</div>
    </div>
    <div class="flex flex-col gap-3">
      <form id="message_form" hx-vals="javascript: message:htmx.find('#message').innerText">
        <input type="hidden" name="horizontal-alignment" value="left"/>
        <input type="hidden" name="vertical-alignment" value="top"/>
      <!-- <form id="message_form"> -->
        {% csrf_token %}
        <div id="message-container">
          <div class="alignment-link corner-link" id="top-left-link" onclick="alignMessage('top', 'left')"></div>
          <div class="alignment-link top-bottom-link" id="top-center-link" onclick="alignMessage('top', 'center')"></div>
          <div class="alignment-link corner-link" id="top-right-link" onclick="alignMessage('top', 'right')"></div>
          <div class="alignment-link side-link" id="middle-left-link" onclick="alignMessage('middle', 'left')"></div>
          <div class="alignment-link side-link" id="middle-center-link" onclick="alignMessage('middle', 'center')"></div>
          <div class="alignment-link side-link" id="middle-right-link" onclick="alignMessage('middle', 'right')"></div>
          <div class="alignment-link corner-link" id="bottom-left-link" onclick="alignMessage('bottom', 'left')"></div>
          <div class="alignment-link top-bottom-link" id="bottom-center-link" onclick="alignMessage('bottom', 'center')"></div>
          <div class="alignment-link corner-link" id="bottom-right-link" onclick="alignMessage('bottom', 'right')"></div>
          <div
            id="message"
            form="message_form"
            contenteditable="plaintext-only"
            hx-post="/htmx/preview_message"
            hx-trigger="keyup"
            hx-swap="innerHTML"
            hx-target="#vestaboard"
          >
          </div>
        </div>
        <div class="flex flex-row grow justify-between" style="margin-top: 1em;">
          <button hx-get="/htmx/current_message" hx-swap="innerHTML" hx-target="#message">Get Message</button>
          <button hx-post="/htmx/send_message" form="message_form" class="button" hx-swap="innerHTML" hx-target="#vestaboard">Send Message</button>
        </div>
      </form>
    </div>
  </div>
  <script>
    function alignMessage(vertical_alignment, horizontal_alignment) {
      h_alignment_ele = document.getElementsByName("horizontal-alignment")[0]
      h_alignment_ele.value = horizontal_alignment;
      v_alignment_ele = document.getElementsByName("vertical-alignment")[0]
      v_alignment_ele.value = vertical_alignment;
      
      message_ele = document.getElementById('message')
      message_ele.style.textAlign = horizontal_alignment;
      justifyContentValue = 'start';
      if (vertical_alignment == 'middle') {
        justifyContentValue = 'center';
      } else if (vertical_alignment == 'bottom') {
        justifyContentValue = 'end';
      }
      message_ele.style.justifyContent = justifyContentValue
      htmx.trigger("#message", "keyup");
    }
  </script>
{% endblock %}